In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [2]:
str="pwskills"
l=[1,2,3,"prateek"]
f=2.5
tup=(1,2,3,"prateek")

In [3]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

In [9]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

float

In [11]:
type(var1)

str

In [12]:
type(var2)

str

In [13]:
type(var3)

list

In [14]:
type(var4)

float

In [15]:
#Q3. Explain the use of the following operators using an example:
#(i) /      used for divison
#(ii) %     used for getting the remainder
#(iii) //   to divide two numbers and get the result in which the quotient is rounded down to the nearest integer value
#(iv) **    used for exponentiation

In [16]:
5/2

2.5

In [17]:
5%4

1

In [18]:
5//2

2

In [19]:
5**2

25

In [26]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#     element and its data type.
l=[1,2,3,"Prateek",1.2,True]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
Prateek
<class 'str'>
1.2
<class 'float'>
True
<class 'bool'>

In [31]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#     times it can be divisible.
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))
count = 0
while A >= B:
    A = A / B
    count += 1
    print(count)

Enter the dividend (A):  20
Enter the divisor (B):  10

1

In [35]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#   divisible by 3 or not.
l=[1,2,3,4,5,6]
for i in l:
    if i%3==0:
        print("divisible")
    else:
        print("not divisible")

not divisible
not divisible
3
divisible
not divisible
not divisible
6
divisible

In [36]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#    this property.

#  A mutable object can be changed after it is created	
#  Examples : List, Set, Dictionary

# An immutable object cannot be changed after it is created
# Examples: tuples, int, float, bool, frozenset.