## ====================Pandas Assignment================

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [3]:
x=pd.Series([4,8,15,16,23,42])
x

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
l=['ram','shyam','hari',3,4,5,'prateek','pritish',9,10]
x=pd.Series(l)
x

0        ram
1      shyam
2       hari
3          3
4          4
5          5
6    prateek
7    pritish
8          9
9         10
dtype: object

## Q3. Create a Pandas DataFrame that contains the following data:
## Then, print the DataFrame.

In [9]:
data={"Name":['Alice',' Bob','Claire'],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

## ANS

## In pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. Each column in a DataFrame is a pandas Series.

## On the other hand, a pandas Series is a one-dimensional labeled array that can hold any data type. It is like a column in a DataFrame or a single column of data. A DataFrame can be thought of as a collection of Series objects that share the same index.

In [11]:
# Creating a pandas Series
series_data = pd.Series([1, 2, 3, 4], name='MySeries')

# Creating a pandas DataFrame
data = {'Column1': [10, 20, 30, 40,50,60,70],
        'Column2': ['A', 'B', 'C', 'D','E','F','G']}
df = pd.DataFrame(data)

# Displaying the Series
print("Series:")
print(series_data)
# Displaying the DataFrame
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
Name: MySeries, dtype: int64

DataFrame:
   Column1 Column2
0       10       A
1       20       B
2       30       C
3       40       D
4       50       E
5       60       F
6       70       G

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

## ANS
## Pandas provides a variety of functions for manipulating and analyzing data in a DataFrame. Here are some common functions:

## head() and tail():

In [14]:
df.head()

   Column1 Column2
0       10       A
1       20       B
2       30       C
3       40       D
4       50       E

In [13]:
df.tail()

   Column1 Column2
2       30       C
3       40       D
4       50       E
5       60       F
6       70       G

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

## ANS

## In pandas, the Series and DataFrame are mutable, while the Panel is considered deprecated.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
series1 = pd.Series([1, 2, 3, 4])
series2 = pd.Series(['A', 'B', 'C', 'D'])

# Creating a DataFrame using the Series
df = pd.DataFrame({'Column1': series1, 'Column2': series2})

# Displaying the DataFrame
print(df)

   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D